.custom-button {
  cursor: pointer !important;
  border-radius: 30%;
  background: rgb(255, 193, 180) !important;
  background: linear-gradient(180deg, rgba(255, 193, 180, 1) 0%, rgba(242, 51, 86, 1) 100%) !important;
  color: #fff !important;
}

.button-spacing {
  margin-right: 30px;
}
